<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Netcracker airport</display-name>

  <servlet>
  <servlet-name>AirlaneServlet</servlet-name>
  <servlet-class>com.nc.servlet.AirlaneServlet</servlet-class>
</servlet>

  <servlet-mapping>
    <servlet-name>AirlaneServlet</servlet-name>
    <url-pattern>/airlanes</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ArrivalServlet</servlet-name>
    <servlet-class>com.nc.servlet.ArrivalServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ArrivalServlet</servlet-name>
    <url-pattern>/arrivals</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DepartureServlet</servlet-name>
    <servlet-class>com.nc.servlet.DepartureServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DepartureServlet</servlet-name>
    <url-pattern>/departures</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DestinationServlet</servlet-name>
    <servlet-class>com.nc.servlet.DestinationServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DestinationServlet</servlet-name>
    <url-pattern>/destinations</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PlaneServlet</servlet-name>
    <servlet-class>com.nc.servlet.PlaneServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PlaneServlet</servlet-name>
    <url-pattern>/planes</url-pattern>
  </servlet-mapping>

</web-app>
